body{
  background-image: url('./assets/bitcoin.jpg');
  background-color: black;
  background-position: left;
  text-align: center;
  text-shadow: 1px 1px gray;
  padding: 5%;
  font-size: 28px;
  color: white;
  
}

button{
  margin-left: 5px;
}


button, input{
  width: 200px;
  height: 30px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  font-size: 20px;
}